[Desktop Entry]
Version = 1.0
Name = Kura5: Bonds of the Undying
GenericName = Kura5
Comment = Launch Kura5
Icon = Kura5BOTU
Exec = /usr/bin/kura5
Terminal = False
Type = Application
StartupNotify = True
Categories = Game
